<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wkOneHomework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DD37EF61D985D5400EDB787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DD37F0A1D985D5500EDB787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DD37F151D985D5500EDB787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
